<!-- quote author
submitter
date
upvote -->
<!-- <p>{{quote.submitter}}</p> -->
<!-- this information below is to be togglled -->
<div>
  <p class="card-text">"{{ quote.description }}"</p>
  <h6 class="card-title">Author: {{ quote.author}}</h6>
  <p class="card-text">Submitted by {{ quote.submitter }}</p>
  <p class="card-text">Time passed since the quote was submitted</p>

  <div class="votes mb-3">
    <div class="upvote">
      <button (click)="quoteUpVote()" type="button" class="btn btn-secondary">Upvote</button>
      <p>{{ quote.upVote }}</p>
    </div>
    <div class="downvote">
      <button (click)="quoteDownVote()" type="button" class="btn btn-secondary">Downvote</button>
      <p>{{quote.downVote}}</p>
    </div>
  </div>
  <!-- <button (click)='quoteComplete(true)' type="button" class="btn btn-danger">Delete Quote</button> -->
</div>
<!-- <p>welcome</p> -->
<!-- <p>{{quote.description}}</p> -->
