
.quoteText {
    font-weight: 500;
    font-size: 1.3em;
    font-style: italic;
}

span {
    font-style: italic;
}

.votes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.downvote p, .upvote p{
text-align: center;
}

.downvote p {
    color: black;
}

.upvote, .downvote, .upvotebtn, .downvotebtn {
    font-size: 0.9em;
    font-weight: 900;
    border: none !important;
    outline: none !important;
}

.upvotebtn:focus {
background: green;
outline: none !important;
border: none !important;
}

.downvotebtn:focus {
    background: red;
}