.quote-container {
    margin-top: 7em;
}

.random-heading {
    text-align: center;
}

.random {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-text {
    font-style: italic;
}